@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* Configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    width: 100%;
}

.fraunces {
    font-family: 'Fraunces', serif;
}

header {
    position: relative;
    background-image: url(images/desktop/image-header.jpg);
    background-position: bottom center;
    background-clip: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

/* Head styling */
.head {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.logo img {
    width: 150px;
}

#btn-mobile {
    display: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(images/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#btn-mobile:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--White);
    padding: 15px;
    opacity: 0.8;
    transition: opacity 200ms ease;
}

nav ul li a:hover {
    opacity: 1;
}

.menu button {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--Dark-blue);
    background-color: var(--White);
    border: none;
    border-radius: 40px;
    padding: 15px 20px;
    transition: all 300ms ease-in-out;
}

.menu button:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.336);
    color: var(--White);
}

/* Header Content styling */
.header-content {
    text-align: center;
    align-self: center;
    margin-top: 8vh;
    height: 200px;
    font-size: 1.4em;
    font-weight: 900;
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 10px;
}

.header-content img {
    margin: 12vh auto;
}

/* Info styling */
.info-services {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    min-height: 550px;
    height: 80vh;
}

.info {
    background-color: hsl(60, 33%, 95%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20%;
    color: var(--Very-dark-desaturated-blue);
    font-size: 1rem;
}

.info h1 {
    font-weight: 900;
    font-size: 2.2em;
}

.info p:nth-of-type(1) {
    margin: 40px 0;
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
}

.learn-more {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    padding:4px 8px;
    z-index: 1;
}

.learn-more::after {
    content: '';
    height: 40%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.2;
    transition: opacity 300ms ease-in-out;
}

.info-services > .info:nth-child(1) .learn-more::after {
    background-color: var(--Yellow);
}

.info-services > .info:nth-child(2) .learn-more::after {
    background-color: var(--Soft-red);
}

.learn-more:hover::after {
    opacity: 1;
}

#egg {
    background-image: url(images/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center;
}

#glass {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
}

/* Services styling */
.services {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 1rem;
    padding: 8% 25%;
}

.services h2 {
    font-size: 1.7em;
    font-weight: 900;
}

.services p {
    margin-top: 10%;
    line-height: 1.5;
}

#design {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    color: var(--Dark-desaturated-cyan);
}

#design p {
    opacity: 0.8;
}

#photography {
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center;
    color: var(--Dark-blue);
}

/* Client Testimonials styling */
.testimonials-section {
    background-color: hsl(60, 33%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 750px;
    text-align: center;
    padding: 90px 0;
}

.testimonials-section > h1 {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--Grayish-blue);
}

.testimonials-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.testimonials {
    max-width: 375px;
    margin: 15px;
}

.testimonials blockquote {
    color: var(--Very-dark-grayish-blue);
    line-height: 1.5;
    font-size: 1.2rem;
}

.client-images {
    border-radius: 50%;
    margin: 30px;
    transform: scale(0.5);
}

.client {
    margin-top: 50px;
}

.client-name {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
}

.client-job {
    color: var(--Grayish-blue);
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Art Gallery Stylign */
.art-gallery {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    height: 60vh;
}

.art-gallery-images {
    background-size: cover;
    background-position: center center;
}

.milk-bottles {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
}

.orange {
    background-image: url(images/desktop/image-gallery-orange.jpg);
}

.cone {
    background-image: url(images/desktop/image-gallery-cone.jpg);
}

.suggar-cubes {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
}

@media screen and (max-width: 720px) {

    /* Head */
    .head {
        padding: 10px 10px 10px 30px;
    }

    #btn-mobile {
        display: initial;
        padding: 30px;
    }

    .head img {
        width: 120px;
    }

    .menu {
        flex-direction: column;
        max-width: 335px;
        width: 85%;
        background-color: hsl(60, 33%, 95%);
        padding: 10px 30px 40px;
        position: absolute;
        top: 100px;
        right: 0px;
        visibility: hidden;
        opacity: 0;
        transition: 400ms ease;
    }

    .menu::after {
        content: '';
        border-bottom: 20px solid hsl(60, 33%, 95%);
        border-left: 20px solid transparent;
        position: absolute;
        top: -20px;
        right: 0;
    }

    .menu.active {
        visibility: visible;
        opacity: 1;
        right: 30px;
    }

    nav ul {
        margin: 10px 0 20px;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        display: inline-block;
        color: var(--Dark-grayish-blue);
        padding: 15px 50px;
        font-size: 1.1em;
    }

    .menu button {
        background-color: var(--Yellow);
        color: var(--Very-dark-desaturated-blue);
        transition: 400ms ease;
    }

    .menu button:hover {
        color: var(--Yellow);
    }

    /* Header Content */
    .header-content {
        font-size: 1em;
    }

    /* Info styling */
    .info-services {
        grid-template: auto max-content / auto;
        height: auto;
    }

    .info {
        align-items: center;
        text-align: center;
        padding: 50px 30px;
    }

    #egg, #glass {
        grid-row: 1 / 2;
        height: 300px;
    }

    #egg {
        background-image: url(images/mobile/image-transform.jpg);
    }

    #glass {
        background-image: url(images/mobile/image-stand-out.jpg);
    }

    /* Services styling*/
    .services {
        height: 600px;
        padding: 50px 20px;
    }

    #design {
        background-image: url(images/mobile/image-graphic-design.jpg);
    }

    #photography {
        background-image: url(images/mobile/image-photography.jpg);
    }

    /* Testimonials styling */
    .testimonials-section h1 {
        font-size: 1rem;
    }

    /* Art Gallery */
    .art-gallery {
        grid-template: 1fr 1fr / 1fr 1fr;
        height: 400px;
    }

    .milk-bottles {
        background-image: url(images/mobile/image-gallery-milkbottles.jpg);
    }

    .orange {
        background-image: url(images/mobile/image-gallery-orange.jpg);
    }

    .cone {
        background-image: url(images/mobile/image-gallery-cone.jpg);
    }

    .suggar-cubes {
        background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
    }
}

@media screen and (max-width: 425px) {
    /* Header Background */
    header {
        background-image: url(images/mobile/image-header.jpg);
        min-height: max-content;
        height: 535px;
    }

    /* Header Content margin */
    .header-content img {
        margin-top: 50px;
    }
}